
.container-fluid, .row {
  padding:0px;
  margin:0px;
}

.navBar {
  text-align: center;
}

#logoHat {
  width:100px;
  margin-left:100px;
}

.mainIntro {
  padding:10px 10px 10px 10px;
}

body {
 font-family: 'Open Sans':300, sans-serif;
 font-size: 14px;
 color:black;
 margin:0px;
 padding:0px;
}

li {
  list-style: none;
  display:inline;
}

a {
  font-size:14px;
  color:white;
}

a:hover {
  text-shadow:none;
}

hr {
  padding:0px;
  margin:0px;
}

li {
  margin-right:20px;
}

.about { /* center image & about area */
  background:
  linear-gradient(
  rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.2)
  ),
       url("https://cloud.githubusercontent.com/assets/15892944/12491071/d02888e0-c02d-11e5-876c-31bb52a11686.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-size:14px;
  letter-spacing: 1px;
  width:100%;
}

.logo {
  color:#173e43;
}

.intro-header {
    text-align: center;
    height: 400px;
    padding-top:30px;
}

h3 {
  font-family: 'Lato', sans-serif;
  color:#F9E497;
  font-weight:100;
}

.text-logo {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color:black;
}

h1, h4 {
  transition-timing-function: ease-in;
  transition: width 1s;
  color: black !important;
}

.text-logo2 {
  font-family: 'Lato', sans-serif;
  text-align: right;
}

.contactMe {
  background-color: #dddfd4;
  color:black;
  text-align: center;
}

.projects div {
  padding:40px;
}

.projectsImage {
}

.contactMe button {
  height:50px;
  margin:5px;
}

button:hover {
  background-color:#3F513A;
  color:white;
  border-width:0px;
}

button {
  color: black;
  font-size: 18px;
}

.contactMe button a:hover {
  color: white;
}

#projects {
    display:none;
}

div.hideFirst {
  background:
       url("https://cloud.githubusercontent.com/assets/15892944/12491071/d02888e0-c02d-11e5-876c-31bb52a11686.jpg") no-repeat center center fixed;
  background-size: cover;
}

#contact {
  display:none;
}
.btn-default {
  background-color:#CDE8F3 !important;
}

.btn-default:hover {
  background-color: #3F513A !important;
  color:white !important;
}

@media (min-width: 1200px) {
  #logoHat {
    margin:auto;
	 }
	.image50 {
		width:70%;
		height:70%;
	}
	.text50 {
		text-align:left;
	}
	.headCenter {
		text-align:center;
	}
}

.site-wrap {
  background:
       url("https://cloud.githubusercontent.com/assets/15892944/12491072/d029a432-c02d-11e5-8d45-3e38c261d66d.jpg") no-repeat center center fixed;
  background-size: cover;
  margin:0px;
}

.title {
  margin-top:10px;
}

img {
  border-radius: 5%;
}

#featured {
  font-size:40px;
  color:black;
}

#footer {
  height:300px;
}

/*Portrait phones and smaller */
@media (max-width: 480px) {
  h1 {
    font-size:20px;
  }
  h4 {
    display:none;
  }
  .intro-header {
      text-align: center;
      height: 80%;
      padding-top:10px;
  }

  li {
    display:block;
    margin-bottom:10px;
  }

	#logoHat {
    margin-left:auto;
	}
  .text-logo2 {
    font-size: 20px;
    padding-right:0px;
  }
  #home {
    text-align: center;
  }
  .heading2 {
    text-align: center;
    font-size: 30px;
  }
  .nav {
    position:relative;
    transform: translate (0, 0);
  }
  body {
    display:flex;
    flex-flow:row nowrap;
  }
  main {
    width:auto;
    flex-grow:1;
  }

}
