body {
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 background-color: #4E3327;
 color:#dddfd4;
}

.about {
  color:white;
  background-color: #205234;
  padding:10px 10px 10px 10px;
  text-align: center;
}

.nav {
  background-color: #417EB5;
  text-align: center;
}

.navOptions {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navOptions a {
  color:#dddfd4;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.navOptions a:hover {
  color:#fae596;
}

.mobilePic {
  width: 470px;
  height: 300px;
  z-index:-1;
}

.mobileHeaderView {
  display:none;
}

.logo {
  color:#173e43;
}

.intro-header {
    text-align: center;
    background: url('https://cloud.githubusercontent.com/assets/15892944/11610940/0a35679a-9b69-11e5-9d6b-1f93f7315956.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 400px;
    padding-top:30px;
}

.text-logo {
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding-left:50px;
  color:black;
}

h1, h4 {
  transition-timing-function: ease-in;
  transition: width 1s;
  color: black !important;
}

.text-logo2 {
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding-right:50px;
}

.main {
  backround-color:#98dafc;
}

.blueBackground {
  backround-color:#98dafc !important;
}

.contactMe {
  background-color: #205234;
}

.projects div {
  padding:50px;
}

@media (min-width: 1200px) {
	.image50 {
		width:70%;
		height:70%;
	}
	.text50 {
		text-align:left;
	}
	.headCenter {
		text-align:center;
	}
}

/*Landscape tablets and medium desktops*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Portrait tablets and small desktops*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Landscape phones and portrait tablets*/
@media (max-width: 767px) {
	.text-logo {
    padding-left:0px;
		text-align:center;
	}
  .text-logo2 {
    font-size: 20px;
    padding-right:0px;
  }
  #home {
    text-align: center;
  }
}

/*Portrait phones and smaller */
@media (max-width: 480px) {
	.text-logo {
    padding-left:0px;
		text-align:center;
	}
  .text-logo2 {
    font-size: 20px;
    padding-right:0px;
  }
  #home {
    text-align: center;
  }
  .intro-header {
      display:none;
  }
  .heading2 {
    text-align: center;
    font-size: 30px;
  }
  .mobileHeaderView {
    display:inline-block;
    background-color: #417EB5;
    padding-top: 20px;
    text-align: center;
  }
  .mobilePic {
    z-index:-1;
  }
}
