html {
  height:100%;
}

#title {
  margin-left:10px;
}

a {
  color: black;
  text-decoration: underline;
}

body {
font-family: 'Lato', sans-serif;
font-size: 16px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddfd4+0,71513c+100 */
background: rgb(221,223,212); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(221,223,212,1) 0%, rgba(113,81,60,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(221,223,212,1) 0%,rgba(113,81,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(221,223,212,1) 0%,rgba(113,81,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddfd4', endColorstr='#71513c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background-size: cover;
background-position: center;
height:100%;
}

.container {
padding-left:0px;
padding-right:0px;
}

row0 {
background-color: #fae596;
}

h1 {
  text-align: left;
  font-size: 35px;
  letter-spacing: 6px;
}

.whiteBox {
  background-color:rgba(130, 128, 128, 0.6);
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 50px;
  display:inline-block;
}

.whiteBoxTwo {
  background-color:rgba(130, 128, 128, 0.6);
  border-width: 1px;
  border-color: black;
  width: 104px !important;
  height: 50px;
  display:inline-block;
}

.orangeBox {
  background-color:#D6C9B9;
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 50px;
  display:inline-block;
}

.row1 {
  display:block;
}

.blackBox {
  color:white;
  background-color: black;
  text-align: right !important;
  border-width: 1px;
  border-color: black;
  width:212px;
  height:50px;
  display:inline-block;
  margin-left: 0px !important;
  font-size:50px;
}

.btn {
  border-radius: 0%;
  margin:3px 0px 0px 0px;
  text-align:center;
  font-size:16px;
}

.btn:hover {
  background-color:black;
  color:white;
}

.btn:active {
  background-color:#fae596;
  color:black;
}

.calculator {
  border-color: black;
  border-width: 1px;
  padding-top: 25px;
  padding-bottom:25px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  background-color:#CBB38F;
  border-style:solid;
  max-width:250px !important;
  border-radius: 10%;
}

.row {
  display:block;
}

ul {
  text-align: center !important;
}
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #71513C;
}

li: active {
  color: #dddfd4;
}

.copyRight {
  text-align: center;
  text-decoration: none;
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

@media screen and (max-width:587px) {
  a {
  font-size:16px;
  }
}

.btn {
  display:inline;
}
