body {
font-family: 'Lato', sans-serif;
font-size: 20px;
background-color: #fae596;
}

row0 {
background-color: #fae596;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.whiteBox {
  background-color:rgba(130, 128, 128, 0.6);
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 50px;
  display:inline-block;
}

.whiteBoxTwo {
  background-color:rgba(130, 128, 128, 0.6);
  border-width: 1px;
  border-color: black;
  width: 104px !important;
  height: 50px;
  display:inline-block;
}

.orangeBox {
  background-color:rgba(255, 165, 0, 0.56);
  border-width: 1px;
  border-color: black;
  width: 50px;
  height: 50px;
  display:inline-block;
}

.row1 {
  display:block;
}

.blackBox {
  color:white;
  background-color: black;
  text-align: right !important;
  border-width: 1px;
  border-color: black;
  width:212px;
  height:50px;
  display:inline-block;
  margin-left: 0px !important;
  font-size:30px;
}

.btn {
  border-radius: 0%;
  margin:3px 0px 0px 0px;
  text-align:center;
  font-size:16px;
}

.btn:hover {
  background-color:black;
  color:white;
}

.btn:active {
  background-color:#fae596;
  color:black;
}

div.calculator {
  border-color: black;
  border-width: 1px;
  padding-top: 25px;
  padding-bottom:25px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
  background-color:#dddfd4;
  border-style:solid;
}

.container {
  padding-left:350px;
  padding-right:350px;
}

ul {
  text-align: center !important;
}

li {
  display:inline;
  list-style:none;
  margin-right:10px;
  color:black;
  background-color:#dddfd4;
  padding:5px;
  border-width:1px;
  border-color:black;
  border:1px;
  border-style: solid;
}

a {
    text-decoration:none;
    color:black;
    text-align: center;
}

li :hover {
  color: blue;
}

li: active {
  color: #dddfd4;
}

.copyRight {
  text-align: center;
}

@media screen and (max-width:587px) {
  .container {
  padding-left:0px;
  padding-right:0px;
  }
  .headerTitle1, .headerTitle2 {
  display:block;
  }
  .noShow {
  display:none;
  }
  h1 {
  font-size:20px;
  }
}
