.container-fluid {
  padding-left:0px;
  padding-right:0px;
}

.img-responsive {
  opacity: 0.2;
  position:fixed;
  z-index:-1;
  width:100%;
  margin-left:0px;
}

.headerContent {
  margin-left:10px;
  margin-right:10px;
}

.mainContent {
  margin-top:10px;
  border-color:blue;
}

h1 {
  color:black;
  font-size:50px;
  font-weight:bold;
  font-family: 'Indie Flower', cursive;
}

h4 {
  color:#7F5F24;
}

.quotes {
  font-size: 16px;
}

.buttoned {
  text-align:center;
  display:inline-block;
}
