#newNav {
  display:none;
}
p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}
h3 {
  font-weight:bold;
}

body {
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.bioName {
  color:white;
  text-align:left;
  font-size:20px;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

.row {
  margin:10px;
}

.enclosed {
  margin:20px;
}

.bodyProperties {
  background-color: #dddfd4;
  width:100%;
}

.headerXX {
	padding:40px 40px 40px 300px;
	background: #dbded1 url(images/cuckoo_color.jpg) no-repeat 20px 20px fixed;
}

.contentXX {
	padding:10px 40px 10px 300px;
	background: transparent url(images/cuckoo_bw.jpg) no-repeat 20px 20px fixed;
}

.topImage {
  width: 100%;
  opacity: 0.5;
  position:fixed;
  z-index: -1;
  display:flex;
}

.topTitle {
  text-align:center;
  margin-top:180px;
  margin-bottom:10px;
}

.headerP {
  background-color: #173e43;
}

.navItem {
  text-align: right;
  color:white;
  margin:10px 10px 10px 10px;
  font-size:20px;
  float: right;
}

.navItem:hover {
  transition: color 0.9s ease;
  color:#fae596;
}

nav {
  display:inline;
}

.bioPic {
  max-width:50%;
  border-radius:50%;
  display:block;
  margin:auto;
}

.copyRight {
  text-align:right;
}

.responsivePortfolio {
  margin-top: 50px;
}

.container-fluid {
  padding-left:0px;
  padding-right:0px;
}

.contactBar a {
  color:#173e43;
  margin-right:10px;
}

.contactBar a:hover {
  transition: color 0.5s ease;
  color:#3fb0ac;
}

.contactRow {
  color:white;
  margin:0px;
  padding:40px;
  background-color:#173e43;
}

.btn-primary {
  background-color:#dddfd4;
}

.btn-primary:hover {
  background-color:#fae596;
}

@media screen and (max-width:718px) {
  #quote {
    display:none;
  }
  .navItem {
    text-align: center;
  }
  .contactBar {
  }
  nav {
    display:none;
  }
  #newNav {
    display:flex;
  }
}
