body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
}

.thinLine {
  border-width: 1px;
}

.borderSpace {
  border-width:0px;
}

.buttonDetails {
  margin : 0 5%;
  /* box-sizing:content-box; */
  background-color: white;
}

.hideFirst {
  display: none;
}

.hideFirstPortfolio {
  display: none;
}

.head {
  font-family: 'Cinzel', serif;
}

.spacing {
  text-align:right;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  background-color: white;
}

.projectImage {
  width:25%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fae596;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: black;
  line-height: 29px;
  padding: 10px;
  background-color: #3fb0ac;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

.blue-text {
  color: #aa863a;
  font-style: bold;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #fae596;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: white;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #dddfd4;
}

/* TODO: Replace with image later */
#header {
  background-color: #173e43;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: right;
  padding: 10px;
  width: 200px;
  border-radius: 50%;
  /* display: none; */
}

img {
  padding: 10px;
}

span {
}

#lets-connect {
  text-align: center;
}

.buttonSetting {

}
/* Media queries to handle various device widths */

@media screen (min-width: 752px) and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media screen and (min-width:751px) {
  .biopic {
    display: block;
  }
}

@media screen and (min-width: 381px) and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 10%;
  }
  .welcome-message {
    display: none;
  }
  .centerSmall {
    text-align: center;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    display:inline-block;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 10%;
}

#mapDiv {
  height: 300px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 380px) {
  #skills-h3,
  .biopic {
    width: 50%;
    display: block;
  }
  .centerSmall {
    text-align: center;
  }
  h1 {
    font-size: 1.5em;
    display:inline-block;
  }
}

.fa-github:hover {
  color:#3fb0ac;
}
.fa-envelope:hover {
  color:#3fb0ac;
}
.fa-linkedin:hover {
  color:#3fb0ac;
}

.yellow {
  background-color: #fae596;
}
