body {
    font-size:1.6em; 
    background-color:#F9D785;
}

#brand {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;
}

#header {
    background:
       linear-gradient(rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)),  url("https://cloud.githubusercontent.com/assets/15892944/13070515/080180f0-d442-11e5-886a-a88380f20426.jpg") no-repeat;
    background-size: cover;
    height:300px;
    color:white;
    padding:20px;
}

section {
    margin:20px;
}

#sidePhoto {
    float:right;
    max-width:300px;
}

#quote {
    padding:40px;
}

#author {
    float:right;
    padding-right:50px;
}

table {
    margin:0 auto;
}

#tableHead {
    text-align: center;
}

th, td {
    padding: 15px;
    border: solid 1px black;
}

#contact {
    margin-top:100px;
}